[2021-04-12 09:48] danijelz opened #2 "Add a way to set custom completition and keep 'keyWordCompleter' and 'snippetCompleter'"
Currently the use of custom auto completion removes the  'keyWordCompleter' and 'snippetCompleter' from completers array and only 'staticWordCompleter' is used [(lit-ace.js).](https://github.com/F0rce/lit-ace/blob/c6e8d5de7b72d72bcfca2491e4d7e899f4f8d788/lit-ace.js#L366) Would it be possible to add another parameter to 'setCustomAutoCompletion' methods by which users can decide to keep the 'keyWor

[2021-04-12 10:16] F0rce commented on #2
Hello Danijelz,

my solution for this feature request would be:
- add a boolean parameter to `addCustomAutoCompletion()` for keeping the snippetCompleter and staticWordCompleter

Would that fit your request?

David

[2021-04-12 12:08] danijelz commented on #2
That would be perfect. Thanks for fast reply.

[2021-04-13 11:17] danijelz opened #3 "The 'getCursorPosition' method is not synced when mouse or arrow keys change the cursor position of editor."
The 'getCursorPosition' is relying on server values stored in AceEditor.cursorPosition and those are not updated after mouse or keyboard events change the cursor position. The possible solutions:

1. Enhance the 'sync' method so it would also update 'cursorPosition' and 'selection' and clients would be responsible for synchronisation before usage.
2. Implemented automatic synchronisation of server

[2021-04-13 20:28] F0rce commented on #2
this commit has been reverted!

i'm still working on those changes

[2021-04-13 20:28] F0rce commented on #3
this commit has been reverted!

i'm still working on those changes

[2021-04-14 06:00] F0rce commented on #3
Hello @danijelz,

i've been trying to resolve your issue pretty long last night.

But i'll have to explain a bit, how the ace editor syncs it value.

In earlier version of the ace editor (where it was still on PolymerElement) there was an issue, that put the cursor at the end of the editor, when typing faster then usual. This was because vaadin was not possible to correctly handle all the events t

[2021-04-14 06:33] danijelz commented on #3
Hi, @F0rce,

I'm not sure the workaround will solve the problem or maybe my understanding of your proposal is poor. As I see it the 'getCursorPosition' method is returning wrong values in some circumstances and that renders it unusable. At least I can't see the purpose of it if it doesn't the correct values. The same is with 'getSelection' method which behaves fine untill the user starts moving ar

[2021-04-14 06:40] F0rce commented on #3
Thanks for your super detailed answer.

I'll take a look at keyboard input and find a way to solve it.

I don't really get that. I get that the synchronisation is not happening when using the keyboard, but the editor value, cursorPosition(column & row), selection (rowStart, from, rowEnd, to) and the selectedText are refreshed before sending it to the frontend. I'll just have to find a way to keep

[2021-04-14 06:53] F0rce commented on #2
I think I will release the customAutoCompletion changes later today, and investigate #3 later on.

[2021-04-14 06:57] danijelz commented on #3
I forgot to mention that I never change the value programmatically so I don't know how accurate is state after the server changes the value.

[2021-04-14 07:53] F0rce commented on #2
one short question @danijelz

what version are you using? latest (1.1.0) or 1.0.1 ? just curious

[2021-04-14 09:20] danijelz commented on #2
I'm using 1.0.1 but i'll switch to 1.1.0 right now and let you know how it works...

[2021-04-14 10:13] danijelz commented on #3
After switching to version 1.1.0 and cacheing cursor position manualy within 'SyncCompletedListener' the values are reliable.

[2021-04-14 11:01] F0rce commented on #3
thats why I included the sync event. Extra for those kind of situation. I'll validate some more tests, but I think its the best way to keep client & server communication by default as low as possible.

thanks you for your input

[2021-04-14 11:08] F0rce commented on #2
the customAutoCompletion Changes will be implemented in v1.1.1 (if you mean that).

[2021-04-14 11:37] danijelz commented on #3
I agree with that but I also think the API should be clear about that so 'getCursorPosition' method should be renamed such that this would be communicated. I would also suggest that AceForceSyncEvent should become internal api which would only update server state and upon which public listeners  would be notified. By that the internal state would be updated prior to every client and so clients wou

[2021-04-14 12:24] F0rce commented on #3
I'll validate your code and probably implement it.

Holy smokes, thank you very much 👍🏻

[2021-04-14 12:31] F0rce commented on #3
when I correctly understand everything. the `addSyncCompletedListener()` is with this logic not needed anymore.

[2021-04-14 14:14] danijelz commented on #3
It is not but you can leave the API for backward compatibility. By adding internal/package private AceForceSyncDomEvent you ensure that only AceForceSyncDomEventListeners are called from client.

After updating internal state of server which happens in 'onForceSyncDomEvent' method you can convert 'AceForceSyncDomEvent' to 'AceForceSyncEvent' and call 'fireEvent' with it for legacy liteners. You sh

[2021-04-15 08:05] lipisak opened #4 "Version 1.1.0 doesn't work with recent Vaadin version (14.5.2)"
Whenever I use version 1.1.0 of this plugin with Vaadin 14.5.2 the compilation doesn't work (Client compilation)
It seems that js files are not found by Vaadin compiler - there are many errors like following:

`ERROR in ../node_modules/.pnpm/ace-builds@1.4.12/node_modules/ace-builds/webpack-resolver.js?babel-target=es6
Module not found: Error: Can't resolve './src-noconflict/snippets/nginx.js&babe

[2021-04-15 09:43] F0rce commented on #4
Hello Lipisak,

could you try to get v1.1.0 running, when using 14.5.1 ? I've been publishing the Add-on with version 14.5.1 in the pom.

I'll surely investigate what is happening there.

Have a great day,
David

[2021-04-20 18:30] lipisak commented on #4
Hello,
I tried with 14.5.3 and it doesn't work either. There are some changes with pnpm in this version of vaadin, but nothing changed. Recently I don't have much time to test with 14.5.1 because I would have to revert our parent we use for all Vaadin libraries and production application. But I will try to do so at the weekend with simple maven project with that 14.5.1 parent.

JS

[2021-04-20 19:39] nrapel commented on #4
I've tried on 14.5.1 and still has the same error. Although it works perfect when on development, when trying to create the production code the following errors appear and the production built stops.

[2021-04-21 13:57] lipisak commented on #4
I've looked into your last commit (version 1.1.0) in master branch...couldn't the error be caused by removal of entry in pom.xml??? I don't see any other suspicious changes - bumping of frontend libraries, pure java changes...
But that was just quick look :)

[2021-04-21 15:26] F0rce commented on #4
Thanks for the input @nrapel @lipisak

I really think the error comes from that... I don't really know why I removed that in first place. I didn't found time to resolve all current issues but I'll try to publish everything as fast as possible. As a current workaround, please just stick to the older version.

Have a great day,
David

[2021-04-22 09:00] danijelz opened #5 "Backward selection isn't working when selection crosses lines"
**Describe the bug**
When trying to select text bachward from some point, the selection becomes invalid when crossing the line. This happens either by using keyboard or mouse.

**To Reproduce**
1. Write something like
[code]
2. Set cursor position to end of text.
3. Press shift and up key or start selecting with mouse upward.

**Screen recording**
https://user-images.githubusercontent.com/13315108

[2021-04-22 13:06] danijelz opened #6 "Calling focus on AceEditor is not working"
**Describe the bug**
After calling focus there should be a blinking cursor in the field but it seems like focus method doesn't have any effect.

**Snippet To Reproduce the problem**
[code]

[2021-04-27 12:57] jcgueriaud1 opened #7 "Replace a text put the first character of the new text at the last position"
**Describe the bug**
When I select a text in the ace editor and type a new text the first character is at the last position.

**To Reproduce**
Steps to reproduce the behavior:
- In the aceeditor, type "CONTENT"
- Select the text "CONTENT", type "123456"
- The result is "234561"

**Expected behavior**
 The result should be: "123456"

**Screenshots**
https://user-images.githubusercontent.com/5131357

[2021-04-28 08:27] F0rce commented on #6
Sorry for the lack of support recently,

I was able to fix your issue. With Lit-Element as Frontend the vaadin .focus() doesnt work. I created a overwrite that calls a function in the frontend, which sets the focus on the textinput perfectly.

I'll try to contribute as much as I did some time ago to the ace editor to bring you the best experience...

Sorry again for the wait,
David

[2021-04-29 09:27] F0rce commented on #7
Hello @jcgueriaud1,

I have some problems recreating your issue. When I start my ace editor and use your given steps, the result is "123456".

Could you maybe tell me the settings you use for the ace editor itself ? (java methods, size, etc.)

Thanks in advance,
David

[2021-04-29 12:07] jcgueriaud1 commented on #7
I'm able to reproduce it in the demo, I didn't change the code: https://github.com/F0rce/ace/blob/master/src/test/java/de/f0rce/View.java
I pulled the master branch and run mvn jetty:run.

I'm using Mac, Java11. I don't know if it matters.

[2021-04-29 13:09] F0rce commented on #7
super, super wierd.

I'll absolutely have to give it a major investigation. Because I really cant reproduce it. Im on Windows with Java 8 but i'm gonna setup the ace editor on my mac with the same java cersion as you.

I'll give it high priority

[2021-04-29 13:51] F0rce commented on #7
Update:

I reverted some of my changes to the frontend in my local test szenario and was able to reproduce the issue, i'm working on a fix :)

[2021-04-29 14:04] jcgueriaud1 commented on #7
Thanks a lot for your fast answer.

[2021-04-29 14:29] F0rce commented on #3
Hello @danijelz, as I already stated in the other issue, I've not been able to focus on the edior.

Today I was working on your pretty solution about the sync and I tried to implement your version.

When I added the `runAfterSync(Runnable action)` Method, it is non existent. Is that something you created yourself and would like to share?

Thanks in advance,
David

[2021-04-29 14:45] danijelz commented on #3
I made static import. The method is from `Objects#requireNonNull(Object)`.

[2021-04-29 14:49] F0rce commented on #3
Thanks for the fast answer,

could you be so kind and verify these changes I made (aswell as #2 & #6 so I could close those issues)? Before I upload everything to the directory.

If not, I'll try as good as possible by myself.

Thanks,
David

[2021-04-30 11:01] F0rce commented on #3
I'm working on the other issues aswell, so would be perfect. But only if you really have the motivation and time for it.

Thanks in advance,
David

[2021-05-03 07:09] danijelz commented on #3
@F0rce
I'm able to test it now. How do you expect me to do it? Should I  clone the code and test custom version? If so, I would need some guidelines with [lit-ace](https://github.com/F0rce/lit-ace).

[2021-05-03 07:13] F0rce commented on #3
If you clone this repo, you can test everything. The updated lit-ace version is also implemented here, so you don't have to worry about it. On the side of lit-ace, it is a Lit-Element Wrapper around c9's ace editor. But the whole magic mostly happens on java side.

If you clone this repo, just `mvn jetty:run` to install all the dependencies and npm packages. And use the view located in `/test/java

[2021-05-03 10:47] #6 closed

[2021-05-03 10:50] #2 closed

[2021-05-03 10:59] danijelz commented on #3
The code looks OK but you didn't add "shoot and forget" methods for one time listeners:

[code]
But since this addons can be created by us users I'm closing the issue.

[2021-05-03 10:59] #3 closed

[2021-05-03 11:02] danijelz commented on #2
I tested and closed issue. Works perfectly.

[2021-05-03 11:02] danijelz commented on #6
I tested and closed issue. Works perfectly.

[2021-05-08 10:49] mheicke commented on #4
Hey, @F0rce an updated version would be highly appreciated. Is there any way we can support you with it?
Cheers, Matthias

[2021-05-10 07:52] F0rce commented on #4
Hei @mheicke,

thank you very much for your nice offer, but I think I got it. I was in school last week and I was able to fix some issues internally. Im currently pretty busy with projects at work so ill post-pons more testing and releasing by the end of the week. If I find something where I need help, I'll be sure to let you know.

Have a great week,
David

[2021-05-15 01:38] F0rce commented on #4
Everything has been fixed locally on my computer. It was really a pain in the ass. But I'm happy to bring a full functional version of the ace editor super soon 👋🏻

![grafik](https://user-images.githubusercontent.com/60381251/118344558-0a8c7680-b52f-11eb-9c0f-966fd3f5d6f2.png)

Packaged with `mvn package -Pproduction`

[2021-05-15 01:39] #4 closed

[2021-05-17 05:28] F0rce commented on #7
I have discovered, what this issue caused. It has to do with Ace Editor's selectionChange event, which triggers more often than usual. This also seems to be the issue of for the other issue (can't tag on mobile). I'll try to write a debounce version of the selectionChange Event.

Have a great day and sorry for the lack of support,
David

[2021-05-17 05:28] F0rce commented on #5
Answers in https://github.com/F0rce/ace/issues/7

[2021-05-19 20:41] vaithu opened #8 "Added the dependency but still not getting it"
I added the below dependency in pom.xml
[code]

It also have
[code]
I reloaded the project multiple files but still this is not getting downloaded. Not sure where is the issue.

[2021-05-20 05:51] F0rce commented on #8
Hello @vaithu,

this seems like a super odd issue and I've never seen this before. What do you mean by

After you start / update the project once, you should be able to use It in any Java class.
[code]

I don't know how to investigate here. Maybe you would have to ask Vaadin support.

Have a great day,
David

[2021-05-20 06:29] vaithu commented on #8
Possibly because it's not available in mvn repository?

On Thu, May 20, 2021 at 1:52 AM David Dodlek ***@***.***>
wrote:

--

Regards

S Kadhir

IIB Remote Support|Training|Consultation

+1(612) 305 8684

www.vaithu.com

[2021-05-20 12:47] vaithu commented on #8
Hmm. I refreshed multiple times and still see this

![image](https://user-images.githubusercontent.com/35440074/118981027-e6be9b80-b947-11eb-88c8-c908f4efe4f1.png)

Other dependencies worked without any issues. Possibly this is not available in the mvn repository ?

[2021-05-21 06:18] F0rce commented on #8
It is 100 % available in the mvn repository.

Could you please check the spelling of the Vaadin Add-on repository.
[code]

[2021-05-21 06:20] F0rce commented on #8
You have the Vaadin add-on three times in your .pom file. Could you please remove one or two of them and see if the error still persists? Maybe maven has problems choosing the right repository and gets stuck in a loop (idk).

[2021-05-25 13:11] #7 closed

[2021-05-25 13:12] #5 closed

[2021-05-25 13:13] F0rce commented on #8
@vaithu were you able to resolve your issue ?

[2021-05-25 17:18] vaithu commented on #8
I still have the issue so I copied the jar locally and referenced it my
project.

Regards

S Kadhir

IIB Remote Support|Training|Consultation

+1(612) 305 8684

www.vaithu.com

On Tue, May 25, 2021 at 9:14 AM David Dodlek ***@***.***>
wrote:

[2021-05-26 07:03] F0rce commented on #8
@vaithu could you try with the new version I uploaded yesterday ?

If it doesnt work, I can't really help you, unfortunately.

*I will close this issue temporarily now, if you need more assist, just reopen it :)*

[2021-05-26 07:03] #8 closed

[2021-05-27 09:40] lipisak opened #9 "Value is not returned back to server"
Hi @F0rce,
I updated to the new 1.2.0 version. UI built up correctly and the component showed up correctly. But I don't get the value from client back to server (doesn't matter if it is connected to binder or not).

Could you please check it up?

Thank you
J

[2021-05-27 09:42] F0rce commented on #9
Hello @lipisak,

the value is not binded. It is synced when the editor is blurred (if you didnt knew already).

I'm currently working on some new methods for the Editor so I will surely try it now. But as far as I can see in the web-console the event is sent normally from the frontend and the listeners seem to work.

Will investigate it shortly and update you.

David

[2021-05-27 09:48] F0rce commented on #9
You were right, when implementing the changes in #3 I removed a line because I thought I didnt need it. But as far as I can see, it doenst update the value of the editor anymore... What a dumb mistake of mine.

v1.2.0 will not be availible anymore due to this error.

Thanks for showing me, working on a hotfix

[2021-05-27 10:04] F0rce commented on #9
I fixed it locally and will publish a hotfix / replace the current version with the fix later today. sorry for the inconvenience...

[2021-05-27 10:54] lipisak commented on #9
Wow that was quick...thank you...This time I will test it locally, as we always discover this in production. I know - not a good approach.

[2021-05-28 14:22] #9 closed

[2021-05-28 14:28] F0rce commented on #9
fixed everything https://vaadin.com/directory/component/ace/1.2.1

[2021-05-31 06:19] danijelz opened #10 "Vaadin 19.x.x and Java 11 combination requires ComponentEvents to be public"
**Describe the bug**
When calling `AceEditor#sync` the `java.lang.IllegalAccessException` is thrown when Vaadin is trying to construct `AceForceSyncDomEvent`.

**To Reproduce**
Just calling `AceEditor#sync` causes the exception:
[code]

**Exception**
[code]

[2021-05-31 06:52] danijelz opened #11 "Calling focus on AceEditor doesn't work the first time"
**Describe the bug**
The first time we call `AceEditor#focus` does nothing and `(TypeError) : Cannot read property 'focus' of undefined` is displayed by Vaadin. The editor is already attached but has not been rendered yet. Calling focus works on subsequent calls.

Looks like problem in lit-ace.js. `focusEditor` method istrying to call `this.editor.focus()` while `this.editor` is undefined.  `this.

[2021-06-02 09:22] F0rce commented on #10
@danijelz I'll fix it on thursday/friday.

Didn't knew that it requires the ComponentEvents to be public. Will fix it and it will work without problems (I assume).

Have a great day,
David

[2021-06-02 12:11] F0rce commented on #11
you clould use <AceEditor>.setInitialFocus(true); to have the editor focussed when rendered.

[2021-06-02 12:11] F0rce commented on #11
and I will be adding the securitys to not throw these errors anymore

[2021-06-02 13:29] danijelz commented on #11
I fixed #10 and #11 on cloned version. Shoul I send you diff?

[2021-06-12 14:15] Aklakan opened #12 "ArrayStoreException: de.f0rce.ace.AceEditor (Vaadin 14.6.1)"
**Describe the bug**
For some reason with Vaadin 14.6.1 and v1.2.1 of this plugin I am getting a strange `ArrayStoreException: de.f0rce.ace.AceEditor`
when doing either

[code]

or
[code]

In my IDE AceEditor is shown as an indirect subclass of Component - so something strange is going on.
Not sure if its a Java8 / 11 byte code incompatibility or whether something is wrong with my setup (I used it

[2021-06-15 12:54] F0rce opened #13 "Get the absolute index of the cursor and selection (on java side)"
**Describe the solution you'd like**
Change the dispatching of the events (blur, selection, sync) in frontend (https://github.com/f0rce/lit-ace) to also include a calculation (by myself) of the absolute index of cursor and the absoulte indicies of the selection (from - to)

[2021-06-17 11:00] lipisak opened #14 "Search/Find doesn't work"
Hi @F0rce,
Sorry to bother you but we found another issue. The search feature doesn't work.

Editor doesn't respond to CMD+F or CTRL+F shortcut. It was working in 1.0.1 version.

Could you please check it?

Thx
JS

[2021-06-17 13:57] Aklakan commented on #12
Investigating the issue further, it seems that the spring-boot-devtools (which were added automatically some version of the Vaadin project generator) cause some conflict between the plugin and class loaders. I don't know the exact rules, but devtools put most classes in a distinct 'refresh' class loader which can cause problems when other classes (especially when they are part of the hierarchy) we

[2021-06-22 09:31] F0rce commented on #12
Hello @Aklakan,

This seems super weird, maybe try contacting the Vaadin support team, because I get it running perfectly (under jetty...).

I'll leave this issue open and I would appreciate it if you would update me on that topic.

Have a great day,
David

[2021-06-27 16:20] Aklakan commented on #12
The weird thing is that IMO spring-boot-devtools should only use a different class loader for classes in the 'local' project - i.e. for which *.java files exist - conversely, it should not use the refresh (or restart or whatever the name) class loader for third party dependencies.
I didn't get around it to look into this in more detail but I surely intend to do so.

[2021-06-30 08:17] lipisak opened #15 "Themes and modes don't work in production"
Hi @F0rce,
We are using the most recent version of the Ace editor and we noticed that the themes and modes don't work.

We haven't noticed it at first place as it works correctly in dev mode, but it doesn't work in production.

It seems to be issue with assets loading as there are information in JS console:
[code]

Before we upgraded to version 1.2.1 everything was ok. Unfortunately the version 1.

[2021-06-30 09:03] lipisak commented on #14
Hi @F0rce ,
it works with newer Vaadin (14.6.5). So I close this issue.

JS

[2021-06-30 09:03] #14 closed

[2021-06-30 09:03] lipisak commented on #15
Hi @F0rce ,
it works with newer Vaadin (14.6.5). So I close this issue.

JS

[2021-06-30 09:03] #15 closed

[2021-06-30 09:56] F0rce commented on #14
When publishing a new Version of the Ace Editor I always test it with the newest Vaadin 14.x.x version. So using the latest one is always a good idea. Thanks for closing the issues.

[2021-07-08 14:03] #12 closed

[2021-07-09 13:52] F0rce commented on #13
While implementing, I noticed that I have to check for many many more things. Due to needing a new version, I would just include it in the next update.

[2021-07-09 13:59] #11 closed

[2021-07-09 14:49] #10 closed

[2021-07-12 05:57] F0rce opened #16 "Add some security checks when settings baseUrl"
**Is your feature request related to a problem? Please describe.**
When packaging the ace editor in a project, which then will be used as a sub project, the baseUrl is kind of off. In a normal project, it is correct to look at the root path for the static files but in a sub project it has to be: "<subProject>/ace-builds/src-min-noconflict/"

**Describe the solution you'd like**
That noone has to t

[2021-07-13 14:17] lipisak opened #17 "Search doesn't work"
Hi @F0rce,
We have upgraded to the new version 1.2.3 with Vaadin 14.5.6. Everything works but search. When I press CMD+F javascript error is thrown that

[code]

Could it be related with the last change (make baseUrl relative?). Themes and modes works good and from what I see they are "loaded" from compiled bundle, but this extension is loaded directly not from bundle...

Thx
JS

[2021-07-13 14:21] F0rce commented on #17
Hi @lipisak,

this is pretty sure my bad 100 %. Due to the big size the src-min-noconfict & the src-noconflict directorys had, I removed the src-noconflict (which is not needed to be in the frontend directory) and I cleared most of the not needed files in src-min-noconflict. Pretty sure I accidentely deleted the ext-searchbox.js file. I will check it out surely and will build a hotfix as fast as p

[2021-07-13 14:27] F0rce commented on #17
Already fixed it and building the new version. Should be availible as version 1.2.4 on the directory in aprox. 25-30 minutes

[2021-07-13 14:34] #17 closed

[2021-07-13 14:36] F0rce commented on #17
and obviously sorry for the inconvenience

[2021-07-13 14:37] lipisak commented on #17
It's ok... thank you for quick response...

[2021-07-13 14:38] F0rce commented on #17
https://vaadin.com/directory/component/ace/1.2.4 --> could take some minutes to be availible via maven

[2021-07-16 14:37] hgoncalves opened #18 "Missing minified JS dependencies when building for production"
**Describe the bug**
We we build for production it looks like webpack does no create a minified version of the js dependencies.

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]
No changes were made to the default vaadin webpack.config.js
[code]
**Error messages**
[code]

**Screenshots**
https://imgur.com/a/u5N95Gs

[2021-07-16 14:44] F0rce commented on #18
Hello @hgoncalves,

thanks for opening this issue, what Vaadin Version are you using ?

The error you see is just a note, which can be ignored completely. It just tells you that the ace.js file (which is the base of this whole project) will just be deoptimised, that the size gets decresed.

Could you please show me the link you use in the browser to open the view that contains the ace editor ?

Th

[2021-07-16 14:52] hgoncalves commented on #18
Hello @F0rce  we are using version: 14.6.3 of Vaadin

I unfortunately have no unprotected route that you could access to see the message.

https://*our-domain*/ace-builds/src-min-noconflict/theme-chrome.js
https://*our-domain*/ace-builds/src-min-noconflict/mode-json.js

Build for prod locally we also have the issue

[2021-07-16 14:54] F0rce commented on #18
@hgoncalves,

no worries, I didn't mean to access your site. Could you try switching to Vaadin Version 14.6.6 with which the component has been packaged and published to the directory and are you making changes to the `<AceEditor>.setBaseUrl()` Method ?

I'm always here to help ;)
David

[2021-07-16 15:08] hgoncalves commented on #18
Great, updating to Vaadin's latest version solved it.

Thanks for your help ;)

[2021-07-16 15:08] #18 closed

[2021-07-16 15:14] F0rce commented on #18
No Worries have a great day :)

[2021-08-03 21:17] rudiejd opened #19 "Bug: Theme update from serverside "setTheme" not working"
**Describe the bug**
Theme update not working

**To Reproduce**
Steps to reproduce the behavior:
1. initialize editor
2. try to update theme from server side

**Expected behavior**
Theme should change. In reality, it just remains the old eclipse theme.

Maybe there is some event that needs to be fired to update the editor's theme on the client side? If I figure it out, I will PR. Thanks for updati

[2021-08-03 21:37] rudiejd commented on #19
Here's the code I was using to toggle the theme

        ComponentUtil.addListener(UI.getCurrent(), ThemeChangedEvent.class, (e) -> {
           if (e.getTheme() == Lumo.DARK)  {
               UI ui = getUI().orElse(UI.getCurrent());
               if (ui != null) {
                   ui.access(() -> {
                       editor.setTheme(AceTheme.chaos);
                   });
               }

[2021-08-03 21:53] rudiejd commented on #19
Think this might be my problem: it's looking for themes in the folder ace-builds instead of the VAADIN directory that redirects to stuff on the classpath
![the problem](https://user-images.githubusercontent.com/46619169/128090914-f637df3e-bf7f-4914-a5b8-d9afeaf9415d.png)

[2021-08-03 22:27] F0rce commented on #19
Hello @rudiejd,

Could you please Tell me which Version of the ace Editor aswell as which Vaadin Version you are using?

On https://preview.f0rce.de/ace I set the theme on server side initially and that works perfectly.

I hope I can help you out,
David

[2021-08-03 23:02] rudiejd commented on #19
@F0rce I was on 14.6.5 and the latest version of the editor.

I suspect it works on you demo because you have all of the requisite JavaScript files for the default modes and themes included in an accessible folder. On mine, I do not.

I managed to fix it on the PR I linked. Basically, Vaadin add-ons force you to include everything that you want to be visible to the Vaadin application in an `@JsMod

[2021-08-03 23:10] F0rce commented on #19
Thanks for your answer and taking the time to write the pr but you actually don't have to do that.

I was thinking the same when I had the problem. But Vaadin Support thought me different. In a Vaadin Add-on Setup (which I use for creating my add-on's) everything is packaged (you don't need to reference everything). Due to your setup you would have to change the baseUrl (the path to the files). In

[2021-08-03 23:40] rudiejd commented on #19
Unfortunately, I don't think that this would work for my use case since none of the resources are visible without annotations.

My project is manually loading resources by calling Vaadin's DevModeInitializer on every class which has @JsModule, @CssImport, etc. annotations. Essentially, we are embedding Vaadin in our application. If a class does not annotate its dependencies, we can't pick up which

[2021-08-04 07:21] F0rce commented on #19
@rudiejd I will keep this repo open and I will try to help you a bit. Unfortunately I am in Croatia at the moment and this is my last day here. I'm working normally from tomorrow and will then be able to help you the fullest.

The Themes and Modes are loaded as soon as you choose them (loaded into the browser cache). I will try to show that to you when I'm home.

As a workaround be sure to use you

[2021-08-10 07:06] F0rce commented on #19
Closed due to inactivity

[2021-08-10 07:06] #19 closed

[2021-08-20 03:00] KingFalse opened #22 "aceEditor.setPlaceholder("some text"); is not working"
**Describe the bug**
aceEditor.setPlaceholder("some text"); is not working,Not showing up
I tried version 1.3.1 and 1.3.2

[2021-08-20 10:02] F0rce commented on #22
Hello @KingFalse,

in all of my tests the placeholder works as intended.

Could you please check if your Editor contains a "tab" or some wierd whitespaces ?

The editor has to be completely clear to see the placeholder.

Have a great day,
David

[2021-08-20 10:34] F0rce commented on #22
If possible could you provide your source code for the ace editor:

Maybe I can spot some wrong configuration.

[2021-08-25 06:34] F0rce commented on #22
Closed due to inactivity. Please re-open if you need further assistance.

[2021-08-25 06:34] #22 closed

[2022-01-14 12:01] Koboo opened #23 "Documentation page is offline"
**Description**
The Webpage docs.f0rce.de/ace is offline.

**Reproduce**
Steps to reproduce the behavior:
1. Open your favorite Browser
2. Enter `docs.f0rce.de/ace`
3. Press `Enter`
4. See error

**Expected behavior**
A really beautifulö and helpful documentation should appear.

**Screenshots**
![Error-Screen](https://user-images.githubusercontent.com/14143908/149512142-2c466b9b-0ea0-464f-a8c3-b1d

[2022-01-14 23:10] F0rce commented on #23
@Koboo I am sorry for any inconvenice caused but if you go to https://docs.f0rce.de there is a message that I am moving the full documentation to GitHub Pages (and giving them a big overhaul). I hope I will be done in the next few days...

Have a great weekend,
David

[2022-01-14 23:10] #23 closed

[2022-01-17 09:52] F0rce commented on #23
@Koboo https://docs.f0rce.de/ace is now fulle reachable and transfered to GitHub Pages. Hopefully I haven't caused that much of an inconvenience.

[2022-01-18 12:10] pellmann opened #24 "Half initialised editor in Chrome/no syntax highlightning"
**Describe the bug**
I used an other/old version of Ace for Vaadin Flow. Now I changed everything to Ace 1.3.4. It looks much more complete and is based in lit and I like it! The problem is, that in Chrome (96.0.4664.110 on OSX) and also in Brave (Version 1.34.80, Chromium: 97.0.4692.71 on OSX) the Component seems to not be really ready. It does not have syntax highlightning and also I noticed, it

[2022-01-18 15:36] F0rce commented on #24
Hello @pellmann,

This seems like an super odd issue, that I have never seen before. But let's try to sort it out.

Could you please tell me the Vaadin Version you are using?
And if it is possible, could you please upload a simple vaadin starter that (hopefully) displays the problem, so I could investigate further (GitHub would be the ideal place therefore).

Thanks in advance,
David

[2022-01-18 16:53] pellmann commented on #24
Hi @F0rce, the Vaadin version is 14.8.1 - I will try to create something to reproduce, tomorrow. Thank you!

[2022-01-18 18:11] pellmann commented on #24
Hi @F0rce, after I tried to reproduce with a new project and did not succeeded.. I rebuild my initial one with production mode on (which I think I have also tried before) and now I can not reproduce it any longer.. also not without production mode., good for me, but sorry for the wrong alarm.

[2022-01-18 18:11] #24 closed

[2022-01-18 21:12] F0rce commented on #24
No worries, I am happy that the proplem was resolved (by itself).

Have a great time and thanks for the star,
David

[2022-01-19 09:56] pellmann opened #26 "Possibility of vertically growing editor"
What I would like to achieve is that the editor is started with a line size of e.g. 6. But if the user then enters more text, the editor should grow vertically up to a maximum number of lines. Ace basically supports this with the options minLines and maxLines.

It would be nice to be able to use these Ace functions directly. I think additionally the editor div would have to change from position:ab

[2022-03-11 15:40] #13 closed

[2022-04-04 14:50] gaborando opened #31 "AceEditor not working on Vaadin 23"
**Describe the bug**
Lit-ace not interpreted on Vaadin23

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a project with a blank page with https://start.vaadin.com/app
2. Go to the blank page code and add
[code]
4. Start the application
5. If you check the DOM the component is present but not interpreted

**Desktop (please complete the following information):**
 - OS: W11
 - Browser c

[2022-04-09 18:07] F0rce commented on #31
Hello @gaborando,

I am unfortunately not able to reproduce the issue. Could you please check the browsers console (F12 in the major ones) and send the error here ?

Thanks a lot,
David

[2022-04-19 13:29] Rob-Rocket opened #32 "Regex in ext-language_tools.js wrong"
The changed regex (from the original ace-repository) cause problems witin our application - point (".") added
var ID_REGEX = /[a-zA-Z_0-9\$\-\u00A2-\u2000\u2070-\uFFFF.]/;

1) Why is that point "." added within that regex on line 1367?

2) Should'nt the "." in the regex be escaped?

[2022-04-19 13:45] F0rce commented on #32
Hello @Rob-Rocket,

the point was added, that when using the dynamicAutocompletion you could use a "." as seperator, for example when re-creating a class like autocompletion:
[code]

What problems is it causing and which version of Ace are you using, as all of my test's went through completely fine (and the language_tools.js change was released with 2.0.0 as far as I remember).

[2022-04-19 13:50] F0rce commented on #32
Refernce where people used that code aswell (official Ace Repo)

https://github.com/ajaxorg/ace/issues/1670

[2022-05-02 22:51] askpythia commented on #32
Hello F0rce,
I've the same problem as Rob-Rocket, the additional point in the ID_REGEX causes problems with all higher level languages using ace editor. We have implemented an IDE using Ace with an Xtext based JVM integrated language behind. With this change the code completion broke because deriving the correct context is more complex than just looking for point separated junks. Would it be possi

[2022-05-02 22:57] F0rce commented on #32
Hello @askpythia,

I will tomorrow (as it is super late in Germany) change the regex to escape the `.`. If it does not break current logic I will build a hotfix asap.

I'll keep you updated.

[2022-05-02 22:58] askpythia commented on #32
... or is it possible to use lit-ace together with the latest official ajaxorg/ace-builds together with your Vaadin Component? It seems that the ajaxorg builds have the correct ID_REGEX in ext-language_tools.js ...

[2022-05-02 22:59] askpythia commented on #32
Just saw your answer, thank you (from Vienna, also late here :-)

[2022-05-02 23:02] askpythia commented on #32
be careful, not escaping but removing. The ID_REGEX should match Identifiers which don't contain "." in their names not calls

[2022-05-15 14:34] askpythia commented on #32
Any news?

[2022-05-16 08:19] F0rce commented on #32
Sorry @askpythia,

I had my finals exams, and was not being able to test everything out. As a new version of ace was released I will try use some time migrating to the new version and testing out the regex.

Will keep you updated. Really hope it won't take that long...

[2022-05-17 01:03] robert4381 opened #33 "AceEditor not showing theme nor mode in Vaadin 23 with Vaadin context "/myapp""
**Describe the bug**
Editor shows but without theme / mode

**To Reproduce**
Steps to reproduce the behavior:

[code]
[code]

**Screenshots**
<img width="507" alt="ace" src="https://user-images.githubusercontent.com/17692916/168703524-e79a300c-1d8c-4013-b583-7973cec8637f.png">

**Desktop:**
 - OS: MacOS Monterey
 - Browser Safari & Firefox

**Vaadin + Spring**
 - Vaadin: 23.0.7
 - Spring boot: 2.6

[2022-05-17 07:59] F0rce commented on #33
Hei @robert4381,

first of all thanks for the super detailed issue.

Could you please provide your current project setup (if possible) as zip that I could try it locally.

Before that you could try using the <ace>.setBaseUrl() with the folling parameter:
[code]

Maybe that will already fix your issue,
David

[2022-05-17 15:38] robert4381 commented on #33
Hi David

I tried setting baseUrl but without success. Here is the project: myapp.

[my-app.zip](https://github.com/F0rce/ace/files/8709566/my-app.zip)

This is a simple **start.vaadin.com** generated project with role based security. I just moved Vaadin context to "/myapp".

To run:
`
mvn clean package spring-boot:run -Pproduction
`

Open browser in:

`localhost:8080/myapp
`

[2022-05-20 14:23] F0rce commented on #32
Hello @askpythia,

as I was investigating this, I came to the conclusion that the "." in the regex makes **no** difference.

https://regexr.com/6m3f7

As you can see here, it matches the "." character and not every character as you thought. So to keep the current logic and as it is not breaking anything, I will mark this ticket as closed.

Sorry for the long awaited answer.

[2022-05-20 14:23] #32 closed

[2022-05-20 14:25] F0rce commented on #31
Closed due to inacitivty. If the issue persists, make sure to re-open this issue.

[2022-05-20 14:25] #31 closed

[2022-05-31 20:04] F0rce commented on #33
@robert4381 Sorry for the super late reply again. I was busy finishing my final project for my apprenticeship.

I can confirm that @markuzzi 's way worked, just tested it on my system.

I will close this issue, as it is resolved and will try to add some kind of documentation for that.

Sorry again,
David

[2022-06-12 19:33] askpythia commented on #32
Sorry for the late answer, but it is the point itself which causes the scope to consume all expressins on the left side including points. In the code lookup itself high level languages navigate from expression to expression (called via ".") by themself. The point at the end causes that a callstack of expressions is handled like one big and that's definitely wrong.
We patched the regexp in node_mod

[2022-06-12 22:12] F0rce commented on #32
Hei @askpythia,

could you please provide some more information on that (especially on your use-cases) ? I am likely to keep the point in the regex, as in many cases I was able to create a class based autocompletion model (using the dynamic autocompletion I created for ace). And if the seperator is something else then a "." it just seems odd for an IDE.

[2022-07-04 05:23] vaithu opened #34 "AceEditor not showing in the UI"
**Describe the bug**
AceEditor not showing up in the UI

**To Reproduce**
Steps to reproduce the behavior:

1. Download vaadin starter application with v23.1.1
2. Add AceEditor to the a page/view like

[code]

Run the project and open the browser

**Expected behavior**
Show AceEditior in the view

**Screenshots**
![image](https://user-images.githubusercontent.com/35440074/177086564-2255c04b-8317-4

[2022-07-04 08:08] F0rce commented on #34
Good Morning @vaithu,

this is a Vaadin Issue, but we'll sort it out easily. Could you please tell me the version you are using for the ace editor ?

[2022-07-04 08:54] vaithu commented on #34
I'm using this version.

[code]

[2022-07-04 08:57] F0rce commented on #34
Could you please try switching to Version [3.1.2](https://vaadin.com/directory/component/ace/3.1.2)
and follow these steps:

- delete node_modules/
- delete package.json
- delete package-lock.json
- delete target/ (can also be done by `mvn clean`
- delete frontend/generated/
- delete webpack.config.js
- delete webpack.generated.js

After that please just do a `mvn clean install` and try to run you

[2022-07-04 09:46] vaithu commented on #34
I tried above steps but no luck. Here is my pom file

[code]

This is a plain vaadin starter but I added some additional dependencies for my need into the POM xml. Do you see anything unusual which is preventing ace editor ?

[2022-07-04 10:49] F0rce commented on #34
This is actually super odd... could you go into the vaadin starter folder and open a terminal and execute `npm i @f0rce/lit-ace --save` maybe npm is not resolving the dependencies....

[2022-07-04 10:51] F0rce commented on #34
or is the browser console throwing any errors ?

[2022-07-08 02:55] vaithu commented on #34
I see the dependency here

![image](https://user-images.githubusercontent.com/35440074/177153410-fdb3bde2-6d79-4eb9-8d0b-a60389581437.png)

[2022-07-08 02:55] vaithu commented on #34
Also, no errors in the Browser.

[2022-07-08 07:07] F0rce commented on #34
not the maven dependency. I am trying to install the NPM-Package (which is the frontend) by hand...

[2022-07-10 19:53] windrag2704 commented on #34
add annotations:
`@NpmPackage(value = "@f0rce/lit-ace", version = "1.9.0");`
`@JsModule("@f0rce/lit-ace/lit-ace.js");`

[2022-07-20 21:00] F0rce commented on #34
Hello everyone,

sorry for the super late reply again, but I was busy with my finals exams (which I passed) and getting my life under control.

I was trying to debug this issue and it has nothing to do with Vaadin and or Ace Editor itself. It is 100 % a IDE Issue. In my case, I was able to replicate the **exact** behaviour you guys were having if I imported the starter project from https://start.v

[2022-07-21 18:46] F0rce commented on #34
Probably exists longer than I thought - as someone was having the exact same issue in #31 *(sadly I got no answer, so I couldn't investigate there)*

[2022-07-21 20:38] windrag2704 commented on #34
Sorry, my bad
I didn't add package groupId to the vaadin.whitelisted-packagesproperty
Everything is working fine

[2022-07-29 07:59] F0rce commented on #34
closed due to inactivity. If this issue occurs again, just reopen this issue or open a new one :)

[2022-07-29 07:59] #34 closed, assigned to nobody

[2022-08-12 22:30] archiecobbs opened #35 "AceEditor.getValue() is not up-to-date after addAceChangedListener() listener notified"
**Describe the bug**

I have a Vaadin `CustomField` that wraps an `AceEditor` - very straightforward.

In order to keep the `CustomField`'s value up-to-date, I register a listener.

It looks something like this:
[code]

The bug is that when a listener notification comes, the event value `e.getValue()` is up-to-date with whatever was just entered into the GUI. However, then `updateValue()` is invok

[2022-08-12 22:56] F0rce commented on #35
Good Evening @archiecobbs,

First of all thank you for this detailed issue. But this is intended and not a bug.

The `AceChangedEvent` was introduced in #21 as a way to save the value while the user is typing. This is in most of the cases discouraged as a lot of data (and I mean a lot) is transferred between client and server (which will cause wierd racing conditions if the user types a lot or the

[2022-08-13 02:53] archiecobbs commented on #35
Hi David,

OK thanks for the explanation - that makes sense.

Not sure if what you've explained is properly documented though... you may want to consider adding a note to the Javadoc for `addAceChangedListener()` that the (a) `getValue()` will not be up-to-date and (b) `addBlurListener()` is a more efficient way to stay updated.

Also, while I understand that `addBlurListener()` is more efficient

[2022-08-16 06:23] F0rce commented on #35
https://github.com/F0rce/ace/blob/3f24eb83f2c9a4da34c7ea286cffa68f08fc048c/src/main/java/de/f0rce/ace/AceEditor.java#L75-L99

In the constructor of the Ace Editor the Blur Listener (and the so called Sync Listener) are added to the editor. All the other events can be used by you for specific use cases and do **not** update the value internally. The reason is to keep (as I said) the communication b

[2022-08-16 12:03] rappenze opened #36 "setCustomAutocompletion does not work with keepCurrentCompleters=true"
**Describe the bug**
I tried to add more than one custom auto completion category by calling the method several times. But only the last call is transfered to the client side.

**To Reproduce**
Add the following code:
[code]

**Expected behavior**
I expect that auto complete shows all values, but only values with category "column" are shown.

**Screenshots**

**Desktop (please complete the followi

[2022-08-16 12:36] F0rce commented on #36
@rappenze thanks for the issue

I was able to reproduce it and found why and where it happens. I'll try to build a hotfix asap.

[2022-08-16 15:02] archiecobbs commented on #35
Hi David,

That's totally understandable.

I'm still wondering about the answer to this question though:

In other words, if there is an `AceChangedListener` registered already, and then an update from the client is received, why not go ahead and update the current value of the widget? It shouldn't cost anything to do so.

Put another way, the following sequence doesn't make sense to me:
  1. Invo

[2022-08-26 21:36] F0rce commented on #36
Fixed with v3.4.0 (https://vaadin.com/directory/component/ace/3.4.0)

-- Backport to Vaadin 14 soon

[2022-08-26 21:36] #36 closed, assigned to nobody

[2022-09-16 13:20] urkl commented on #35
@archiecobbs did you resolved issues with custom field?

[2022-09-16 14:22] archiecobbs commented on #35
On Fri, Sep 16, 2022 at 8:20 AM urkl ***@***.***> wrote:

No, now I'm just updating the field on loss of focus.

Here is my CustomField implementation:

/**
 * Syntax highlighting JS editor.
 */
@SuppressWarnings("serial")
public class JavascriptField extends CustomField<String> {

    private final AceEditor ace = new AceEditor();

    public JavascriptField() {
        this.ace.setMode(AceMode.j

[2022-09-17 11:21] urkl commented on #35
Archie thank you for this.

[2022-09-21 15:53] archiecobbs commented on #33
Please see discussion [here](https://github.com/vaadin/flow/issues/14557).

It seems like this is a real bug, and the `markdownEditor.setBaseUrl()` hack is just a workaround for the bug.

According to that discussion this is the source of the bug:

@F0rce - your thoughts?